/* General Body Styling */
body {
    text-align: center;
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 500px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav li {
    border: #fff;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Container for About Me, Experience, and Skills sections */
#content_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 95%;
}

#left_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    width: 65%;
}

#aboutMe {}

/* Right column containing Experience and Skills */
#right_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-right: 20px;
    width: 35%;

}

/* Section Styling */
.section {
    background-color: #262626;
    border-radius: 10px;
    border: 2px solid #444;
    padding: 20px;
    width: 100%;
}

.headings {
    font-size: 24px;
    font-weight: 600;
    color: #007bff;
}

/* Experience and Skills Section */
#experience,
#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#experience li,
#skills li {
    background-color: #007bff;
    color: #fff;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

/* Connect Section */
.connect {
    color: #007bff;
}

/* Form Styling */
#leaveMessage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

#leaveMessage label {
    font-size: 16px;
    color: #e0e0e0;
}

#leaveMessage input,
#leaveMessage textarea {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background: #333;
    color: #e0e0e0;
    width: 95%;
}

#leaveMessage button {
    font-size: 16px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Messages Section */
#messages li {
    background-color: #262626;
    color: #e0e0e0;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    width: 500px;
}

/* Responsive Design */
/* @media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .section {
        margin: 10px;
        padding: 15px;
    }

    #leaveMessage {
        max-width: 100%;
    }
} */