/* General Body Styling */
html,
body {
    text-align: center;
    background-color: #00ffab;
    color: #e6ffff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header and Navigation */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36454f;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

nav a {
    color: #a7ffeb;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #00ffab;
}

#aboutMe {
    margin: 10px;
}

/* Section Styling */
.section {
    background-color: #2f4f4f;
    border-radius: 10px;
    border: 2px solid #36454f;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.headings {
    font-size: 24px;
    font-weight: 600;
    color: #20b2aa;
    margin-bottom: 20px;
}

#content_container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 100%;
    padding: 10px;
    height: 500px;
}

/* Experience, Skills and Connect Sections */
#experience,
#skills,
#connect {
    display: flex;
    flex-direction: column;
}

#experience p,
#skills p,
#connect a {
    background-color: #20b2aa;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#experience p:hover,
#skills p:hover {
    background-color: #32cd32;
}

#experience h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#experience {
    width: 20%;
}

#skills {
    width: 20%;
}

#connect {
    color: #20b2aa;
    transition: color 0.3s;
    width: 30%;
    height: 90%;
}

.connect:hover {
    color: #00ffab;
}

/* Projects Section */
#projects_container {
    margin: 10px;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 100%;
    padding: 10px;
    height: 500px;
}

#projects li {
    list-style: none;
    background-color: #20b2aa;
    color: #e6ffff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 35px;
}

/* Form Styling */
#form {
    margin: 10px;
}

#leaveMessage {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#leaveMessage input,
#leaveMessage textarea {
    font-size: 14px;
    padding: 10px;
    border: 2px solid #20b2aa;
    background: #36454f;
    color: #e6ffff;
}

#leaveMessage button {
    font-size: 16px;
    padding: 10px;
    background-color: #32cd32;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

#leaveMessage button:hover {
    background-color: #28a745;
}

/* Messages Section */
#messages {
    margin: 10px;
}

#messages li {
    background-color: #36454f;
    color: #e6ffff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}